.game{
    width:320px;
    text-align: center;
    font-family: system-ui;
    margin: auto;
    font-weight: 500;
}

.title{
    text-align: center;
    font-size: 35px;
    color: white;
    background-color: brown;
    padding: 5px 0;
    margin: 5px 0;
   

}
.title span{
    color: yellow;
    font-size: 50px;
}
.square:hover{
    background-color: black;
}
.square{
    width: 100px;
    height: 100px;
    background-color: brown;
   float: left;
   margin: 2px;
font-size: 60px;
color: white;
}
